.footer {
  &__signup {
    background: #495567;
    &-title {
      color: #fff;
      font-family: Space Mono;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 100% */
      letter-spacing: -2.143px;
      width: 415px;
      &-links{
        display: flex;
        align-items: center;
        gap: 18px;
        &-appstore{
          padding: 8px 15px 9px 16px;
          background-color: #E5ECF4;
          
        }
      }
    }
  }
}
